En este caso se usa otro metodo de codificación que se usa para los mismos datos que el one hot encoding
pero esta vez en vez de crear mas columnas con los distintos tipos de caractiristicas clasificatorias, se categoriza cada caracteristica con  numeros en escala.

Si tenemos un data frame que tiene los datos de tamaño de algo, ojo, deben estar ordenados, tambien se debe tener en cuenta que si no le especifica al codigo como codificar estas variables categoricas o si no por defecto lo hará en orden alfabético. entonces tenemos el data frame con los datos de tamaño y usamos un metodo de las tecnicas de procesamiento de datos, en este caso lo haremos con Label Encoding y con Ordinal Encoding

| Tamaño  | Codificado |
|---------|------------|
| Pequeño | 0          |
| Mediano | 1          |
| Grande  | 2          |
| Pequeño | 0          |
| Grande  | 2          |

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [6]:
data = pd.DataFrame({
    "Ubicacion" : ['Norte','Sur','Oeste','Norte'],
    "Cargo" : ['Gerente','Asistente','Analista','Gerente'],
    "Departamento" : ['Ventas','Marketing','Ventas','RRHH']
})
data

  Ubicacion      Cargo Departamento
0     Norte    Gerente       Ventas
1       Sur  Asistente    Marketing
2     Oeste   Analista       Ventas
3     Norte    Gerente         RRHH

In [20]:
#metodo por Label encoding
label = LabelEncoder()
enc_data = data.copy()
enc_data['Ubicacion'] = label.fit_transform(enc_data['Ubicacion'])
enc_data['Cargo'] = label.fit_transform(enc_data['Cargo'])
enc_data['Departamento'] = label.fit_transform(enc_data['Departamento'])
enc_data

   Ubicacion  Cargo  Departamento
0          0      2             2
1          2      1             0
2          1      0             2
3          0      2             1

Como se puede observar, no le especificamos al codigo como debia tratar los datos de categorización entonces los trató en orden alfabético, por ejemplo en ubicacion dejó Norte como 0 porque es el N es la primera letra del alfabato entre las que existen en ubicacion, es por ello que la siguiente es oeste

In [14]:
#metodo ordinal Encoding
ordinal = OrdinalEncoder()
ordinal_data = data.copy()
ordinal_data[['Cargo','Departamento','Ubicacion']] = ordinal.fit_transform(ordinal_data[['Cargo','Departamento','Ubicacion']] )
ordinal_data

   Ubicacion  Cargo  Departamento
0        0.0    2.0           2.0
1        2.0    1.0           0.0
2        1.0    0.0           2.0
3        0.0    2.0           1.0

AL usar el metodo ordinal encodig nos ahorramos lineas de codigo y hacemos lo mismo que con el Label encoding, auque ambos sirven casi para lo mismo, se suele usar mas el label encodign pora trasformar datos con orden no intrinseco, y el ordinal encodign cuando los datos tienen ordin intrinseco

In [25]:
#método sin  librerias 
def encoder(data,columns):
    for column in columns:
        unique_values = data[column].unique()
        value_for_item = { value : i for i, value in enumerate(unique_values)}
        data[column + "Encode"] = data[column].replace(value_for_item)
    return data

In [26]:
enc = encoder(data=data,columns=['Cargo','Departamento','Ubicacion'])
enc

/tmp/ipykernel_108504/3160018953.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column + "Encode"] = data[column].replace(value_for_item)
/tmp/ipykernel_108504/3160018953.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column + "Encode"] = data[column].replace(value_for_item)
/tmp/ipykernel_108504/3160018953.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[column + "Encode"] = data[column].replace(value_for_item)

,Ubicacion,Cargo,Departamento,CargoEncode,DepartamentoEncode,UbicacionEncode
0,Norte,Gerente,Ventas,0,0,0
1,Sur,Asistente,Marketing,1,1,1
2,Oeste,Analista,Ventas,2,0,2
3,Norte,Gerente,RRHH,0,2,0